@font-face {
    font-family: "Fonte_Site";
    src: url(./Assets/RobotoMono-VariableFont_wght.ttf);
}


.header {
    background-color: #495560;
    display: flex;
    margin: 0px;
    /* padding: 0 60px; */
    height: 10vh;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 0 40px;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 350px;
    margin-right: 30px;
    transition: 0.7s;
}

.header a {
    text-decoration: none;
}

body {
    height: 100vhad;
    width: 100%;
    font-family: "Fonte_Site";
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Logo:hover {
    transform: scale(1.05);
}

.barraLateral {
    background-color: #3E7EA3;
    width: 23vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    position: fixed;
}

.botaoSair {
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 0px;
}

.botões-lateral {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

a:hover {
    color: rgb(0, 0, 0);
}

a {
    color: white;
    text-decoration: none;
}

.img-sair {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}

.cardsMissao {
    position: fixed;
    background-color: #ffffff;
    width: 93%;
    height: 50%;
    margin-left: 23vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

.cardsMissao2 {
    position: fixed;
    background-color: #ffffff;
    width: 93%;
    height: 50%;
    margin-left: 23vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 40vh;
}

.card {
    z-index: 1;
    border: solid black 2px;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    color: black;
}

.botoesMissao {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    border: solid black 2px;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    color: black;
    font-family: Fonte_Site;
    font-size: 15px;
    cursor: pointer;
}

.botoesMissao:hover {
    background-color: #dbdee0;
    transition: 0.7s;
}

.botaoDialog {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #57cc99;
   z-index: 1;
  }
  .botaoDialog:hover:after {
    width: 100%;
    left: 0;
  }
  .botaoDialog:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #80ed99;
    right: 0;
  }
  .botaoDialog:active {
    top: 2px;
  }

  dialog::backdrop{
    background-color: rgba(0 0 0 / .5);
  }

  .mission{
    border-radius: 20px;
  }