@font-face {
    font-family: "Fonte_Site";
    src: url(./Assets/RobotoMono-VariableFont_wght.ttf);
}


.header {
    background-color: #495560;
    display: flex;
    margin: 0px;
    /* padding: 0 60px; */
    height: 10vh;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 0 40px;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 350px;
    margin-right: 30px;
    transition: 0.7s;
}

.header a {
    text-decoration: none;
}

body {
    height: 100vhad;
    width: 100%;
    font-family: "Fonte_Site";
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Logo:hover {
    transform: scale(1.05);
}

.barraLateral {
    background-color: #3E7EA3;
    width: 23vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    position: fixed;
}

.botaoSair {
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 0px;
}

.botões-lateral {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

a:hover {
    color: rgb(0, 0, 0);
}

a {
    color: white;
    text-decoration: none;
}

.img-sair {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}

.metadeTelaForm {
    position: fixed;
    width: 45%;
    height: 90%;
    margin-left: 115vh;
    display: flex;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metadeTelaMetricas {
    position: fixed;
    background-color: #ffffff;
    width: 45%;
    height: 60%;
    margin-left: 23vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    z-index: -1;
}

.metricasDireita {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.metricasEsquerda {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}



.quadradosMetricas {
    width: 350px;
    height: 200px;
    background-color: rgb(187, 187, 187);
    margin: 20px 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divRankings {
    height: 290px;
    width: 44%;
    margin-left: 23vh;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 5px solid rgb(255, 255, 255);
    height: 60%;
    width: 50%;
    border-radius: 30px;
    background-color: rgba(40, 44, 46, 0.685);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputs {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    height: 30px;
    padding: 5px;
    width: 250px;
    background-color: transparent;
    color: #ffffff;
    outline: none;

}

.botao {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #adb5bd;
    background: #adb5bd;
  }
  .botao:hover {
    background: #fff;
    color: #adb5bd
  }

  .rankPontos{
    width: 300px;
    height: 200px;
    background-color: rgb(187, 187, 187);
    margin-left: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .rankMissoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: rgb(187, 187, 187);
    margin-left: 100px;
    border-radius: 15px;
    
  }

  